<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">Invited Papers</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
         <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2608.29917">FoundYou: A Unified Model for Personalized Segmentation and Retrieval</a></font> <font size="3px" color="#FF0000">(Oral)</font><br>
<font size="3px">Gabriele Trivigno, Marcos Alfaro Perez, Claudia Cuttano, Gabriele Berton, Luis Payá, Carlo Masone</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2605.16990">DreamEdit3D: Personalization of Multi-View Diffusion Models for 3D Editing</a></font> <font size="3px" color="#FF0000">(Oral)</font><br>
<font size="3px">Jinxin Ai, Matthias Nießner, Ziya Erkoç</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/abs/2512.09814">NearID: Identity Representation Learning via Near-identity Distractors</a></font> <font size="3px" color="#FF0000">(Oral)</font><br>
<font size="3px">Aleksandar Cvejic, Rameen Abdal, Abdelrahman Eldesokey, Bernard Ghanem, Peter Wonka</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2512.24592">GH-ESD: Grounded Hypothesis-Driven Error Slice Discovery for Instance-Level Vision Tasks</a></font><br>
<font size="3px">Wei Zhang, Chaoqun Wang, Zixuan Guan, Ping Sheng Kao, Pengfei Zhao, Peng Wu, Sifeng He</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2609.02798">AutoCompass: Accurate Visual Localization on Public Maps by Learning from Weak Labels</a></font><br>
<font size="3px">Javier Tirado-Garín, Alan Paul, Shuai Chen, Axel Barroso-Laguna, Tommaso Cavallari, Daniyar Turmukhambetov, Victor Adrian Prisacariu, Eric Brachmann</font></li>
            <li><font size="3px" color="#000000">Vulnerability of Privacy-Preserving Visual Localization against Diffusion-based Attacks</font><br>
<font size="3px">Maxime Pietrantoni, Torsten Sattler, Gabriela Csurka</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2604.04931">LoMa: Local Feature Matching Revisited</a></font><br>
<font size="3px">David Nordström, Johan Edstedt, Georg Bökman, Jonathan Astermark, Anders Heyden, Viktor Larsson, Mårten Wadenbäck, Michael Felsberg, Fredrik Kahl</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2506.00599">XYZ-IBD: Benchmarking Robust 6D Object Pose Estimation under Real-World Industrial Complexity</a></font><br>
<font size="3px">Junwen Huang, Jiaqi Hu, Peter Yu, Slobodan Ilic, Martin Sundermeyer, Benjamin Busam</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2606.23634">Pose Anything Anywhere: Model-free Object Poses from Arbitrary References</a></font><br>
<font size="3px">Hongli Xu, Jiaqi Hu, Junwen Huang, Boyang Zhong, Peter KT Yu, Nassir Navab, Benjamin Busam, Slobodan Ilic</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2606.23950">Beyond Pixel Mimicry: Disentangled Self-Similarity Rewards for Diverse Subject-Driven Generation</a></font><br>
<font size="3px">Qian Wang, Zhenyu Li, Abdelrahman Eldesokey, Peter Wonka</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2604.10415">Point2Pose: Occlusion-Recovering 6D Pose Tracking and 3D Reconstruction for Multiple Unknown Objects Via 2D Point Trackers</a></font><br>
<font size="3px">Tzu-Yuan Lin, Ho Lee, Kevin Doherty, Yonghyeon Lee, Sangbae Kim</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2606.30476">PS-MOT: Cultivating Instance Awareness from Point Seeds for Multi-Object Tracking</a></font><br>
<font size="3px">Kai Luo, Fei Teng, Mengfei Duan, Wanjun Jia, Xu Wang, Hao Shi, Kunyu Peng, Zhiyong Li, Kailun Yang</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2603.02573">Track4World: Feedforward World-centric Dense 3D Tracking of All Pixels</a></font><br>
<font size="3px">Jiahao Lu, Jiayi Xu, Wenbo Hu, Ruijie Zhu, Chengfeng Zhao, Sai Kit Yeung, Ying Shan, Yuan Liu</font></li>
            <li><font size="3px" color="#000000"><a href="https://jacobchalk.github.io/Whareformer/static/pdfs/whareformer.pdf">Where and What: Long-Term Object Tracking in Egocentric Videos</a></font><br>
<font size="3px">Jacob Chalk, Saptarshi Sinha, Dima Damen, Yannis Kalantidis, Diane Larlus</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2608.15295">SOS!: A Streamlined Object-Conditional Transformer for Model-free Segmentation</a></font><br>
<font size="3px">Jiaqi Hu, Junwen Huang, Hongli Xu, Peter KT Yu, Nassir Navab, Benjamin Busam, Slobodan Ilic</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2511.15706">RoMa v2: Harder Better Faster Denser Feature Matching</a></font><br>
<font size="3px">Johan Edstedt, David Nordström, Yushan Zhang, Georg Bökman, Jonathan Astermark, Viktor Larsson, Anders Heyden, Fredrik Kahl, Mårten Wadenbäck, Michael Felsberg</font></li>
            <li><font size="3px" color="#000000">Online 3D Instance Segmentation at task-oriented granularity with Unposed Monocular Video</font><br>
<font size="3px">Dong Wu, Baicheng Li, Yingdian Cao, Shunkai Zhou, Yiwen Lu, Hongbin Zha</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2512.17492">MMLANDMARKS: a Cross-View Instance-Level Benchmark for Geo-Spatial Understanding</a></font><br>
<font size="3px">Oskar Kristoffersen, Alba Reinders Sánchez, Morten Rieger Hannemose, Anders Bjorholm Dahl, Dim P Papadopoulos</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2604.13268">Indexing Multimodal Language Models for Large-scale Image Retrieval</a></font><br>
<font size="3px">Bahey Tharwat, Giorgos Kordopatis-Zilos, Pavel Suma, Ian Reid, Giorgos Tolias</font></li>
            <li><font size="3px" color="#000000"><a href="https://arxiv.org/pdf/2603.28603">ELViS: Efficient Visual Similarity from Local Descriptors that Generalizes Across Domains</a></font><br>
<font size="3px">Pavel Suma, Giorgos Kordopatis-Zilos, Yannis Kalantidis, Giorgos Tolias</font></li>
         </div>
    </div>
</div>
